RewriteEngine on

# Options +ExecCGI
# AddType application/x-httpd-php .php .html
# AddHandler x-httpd-php5 .php .html

RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule portal/(.*) Presentation/$1?%{QUERY_STRING}
DirectoryIndex Presentation/bilServerUser.html

AddType application/x-httpd-php .html .htm

AddHandler application/x-httpd-php .html .htm 